body {
  background-image: linear-gradient(white, orange) !important;
  background-color: white;
  font-family: gaegu;
  color: blue;
}

h1 {
  background: -webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 400%;
}

h2 {
  background: -webkit-linear-gradient(rgb(155, 155, 155), rgb(68, 63, 63));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 250%;
  text-align: center;
}

h3 {
  background: -webkit-linear-gradient(white, rgb(4, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  font-size: 180%;
}

.container {
  margin: 0, auto;
}

header {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content:space-around;
}

#profile-picture {
  width: 45%;
  height: 35%;
  border-radius: 50%;
  border: rgb(201, 44, 68) solid 8px !important;
  border: red dashed 10px;
  margin-top: 1%;
}

.content-left-column {
  width: 70%;
  padding-right: 2%;
}

.content-right-column {
  width: 30%;
  padding-left: 2%;
} 

.content-right-column li {
  font-size: 250%;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.skills-flex-container {
  display: flex;
  justify-content:space-around;
  background-color: blue;;
  flex-direction: x;
}
.skills-container {
  position: relative; 
  width: 45%;
  background-color: pink;
}

.skills-image {
  opacity: 1;
  display: inline;
  width: 60%;
  transition: .1s ease;
}

.skills-text-container {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  /* transform: translate(-125%, -125%);
  -ms-transform: translate(-50%, -50%);  */
  text-align: center;
}

.skills-container:hover .skills-image {
  opacity: 0.3;
}

.skills-container:hover .skills-text-container {
  opacity: 1;
}

.skills-text {
  background-color: black;
  color: white;
  font-size: 20px;
}

/* @media screen and (max-width: 480px) {
  body {
    background-color: lightgreen !important;
  }
} */